/*me having this max-width:1000px will size it to that point onces its the minimum of that px amount*/
@media screen and (max-width: 1000px)  
{
  /*This is for shaping not only the images but the text that would 
  show on this page szing it for phone users*/
  /*this goes for the set up of the text shown for the images*/
    #Projects1
    {
    font-family: "Jersey 15", sans-serif;
    position: absolute;
    left: 10px;
    top: 400px;
    width: 100%;
    font-size: medium;
    }
    /*making the image size to the side of the screen and placement changes*/
    .Theboyclass
    {
     font-family: "Jersey 15", sans-serif;
     position: absolute;
      width: 150px;
      height: 300px;
      left: 10px;
      top: 300px;
      background-color: #000;
      border-radius: 5%;
      
    }
    /*making the image size to the side of the screen and placement changes*/
    .cardGame
    {
     font-family: "Jersey 15", sans-serif;
     position: absolute;
      width:300px;
      height: 150px;
      left: 10px;
      top: 600px;
      background-color: #000;
      border-radius: 5%;
    }
     /*this goes for the set up of the text shown for the images*/
    #Projects2
    {
    font-family: "Jersey 15", sans-serif;
    position: absolute;
    left: 10px;
    top: 7000px;
    width: 100%;
    font-size: medium;
    }
}